<div class="container">
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <small>
          {{ site.title }} &bull;
          <a
            href="https://twitter.com/{{ site.twitter_username }}"
            target="_blank"
            >@{{ site.twitter_username }}</a
          >
          &bull;
          <a href="{{ site.url }}" target="_blank">{{ site.url }}</a>
          &bull;
          <a href="{{ site.url }}/feed.xml" target="_blank">feed</a>
          <br />
          Disponible en todas las plataformas de podcast y en
          <a target="_blank" href="{{ site.youtube_url }}">YouTube</a>.
        </small>
      </p>
    </div>
  </footer>
</div>
